/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700;800&family=Manrope:wght@400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-color: white;
}

body {
  background-color: white;
}

.bg-svg svg {
  fill: rgb(207, 197, 197);
}

.custom-bg {
  background-color: rgba(217, 217, 217, 0.28);
}