.article {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

.article:hover {
  transform: translatey(20px);
  -webkit-transform: translatey(20px);
  -moz-transform: translatey(20px);
}